// ### Primary

$SoftRed: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$DarkDesaturatedCyan: hsl(167, 40%, 24%);
$DarkBlue: hsl(198, 62%, 26%);
$DarkModerateCyan: hsl(168, 34%, 41%);

// ### Neutral

$VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

// font 
// font-family: 'Fraunces', serif;
// font-family: 'Barlow', sans-serif;

@mixin positionBox {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 19% 0% 0% 25%;
    width: 57%;
}


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

main{
    width: 100vw;
    height: 100vh;
    background: url(../images/desktop/image-header.jpg) no-repeat;
    background-size: 100% 100%;

    header{
        display: flex;
        padding: 30px;
        align-items: center;
        margin-bottom: 7vw;
        width: 100%;
        justify-content: space-between;

        .center{
            display: none;
        }
    }

    .menu-mobile{
        display: none;
    }
}

main header .menu{
    display: flex;
    align-items: center;
    
    a{
        color: $White;
        margin-right: 30px;
        font-family: 'Barlow', sans-serif;
        font-size: clamp(1rem, 1vw, 1.2rem);

        &:hover{
            border-bottom: 2px solid $White;
        }
    }

    .btn{
        margin-right: 0;
        padding: .8vw 1vw;
        border-radius: 1.2vw;
        background: $White;
        color: $VeryDarkDesaturatedBlue;
        text-transform: uppercase;

        &:hover{
            border: none;
            color: $White;
            background:  rgba(196, 218, 231, 0.4);
        }
    }
    
}


main {
    h1{
        text-align: center;
        color: $White;
        font-family: 'Fraunces', serif;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 8vw;
    }

    .arrow{
        margin-left: 50%;

        svg{
            transition: 0.3s;
            stroke: #FFF;

            &:hover{
                stroke: $SoftRed;
            }
        }
    }
}

section{
    width: 100vw;
    height: 500px; 

    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;

        .box{
            height: 100%;
            width: 50%;
    
            img{
                height: 100%;
                width: 100%;
            }

            div{
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin: 20%;

                h1{
                    font-size: 42px;
                    font-family: 'Fraunces', serif;
                    margin-bottom: 30px;
                    color: $VeryDarkDesaturatedBlue;
                }

                p{
                    margin-bottom: 30px;
                    font-size: 18px;
                    color: $VeryDarkGrayishBlue;
                }

                a{
                    font-size: 18px;
                    color: $VeryDarkDesaturatedBlue;
                    font-weight: 900;
                    text-transform: uppercase;
                    border-bottom: 2px solid $Yellow;
                    width: 130px;

                    &:hover{
                        border-bottom: 2px solid $VeryDarkDesaturatedBlue;
                        color: $Yellow;
                    }
                }

                .link-orange{
                    border-bottom: solid 2px $SoftRed;

                    &:hover{
                        // border-bottom: 2px solid $VeryDarkDesaturatedBlue;
                        color: $SoftRed;
                    }
                }
            }
        }

        .box-cherry{
            background: url(../images/desktop/image-graphic-design.jpg) no-repeat;
            background-size: 100% 100%;

            div{
                @include positionBox();

                h1{
                  color: $DarkDesaturatedCyan;  
                }

                p{
                    color: $DarkModerateCyan;
                }
            }
        }

        .box-tangerine{
            background: url(../images/desktop/image-photography.jpg) no-repeat;
            background-size: 100% 100%;

            div{
                @include positionBox();

                h1{
                    color: $VeryDarkDesaturatedBlue;
                }

                p{
                    color: $DarkBlue;
                }
            }
        }

    } 
}

#testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 800px;

    h2{
        font-size: 28px;
        margin-top: 100px;
        margin-bottom: 100px;
        text-transform: uppercase;
        color: $DarkGrayishBlue;
        letter-spacing: 6px;
        font-family: 'Barlow', sans-serif;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 80%;

        .card{
            // background: red;
            height: 100%;
            width: 33%;
            display: flex;
            flex-direction: column;

            img{
                border-radius: 50%;
                margin-bottom: 50px;
            }

            p{
                font-size: 18px;
                width: 90%;
                font-family: 'Barlow', sans-serif;
                color: $DarkGrayishBlue;
                margin-bottom: 50px;
            }

            h3{
                font-family: 'Fraunces', serif;
                font-weight: 700;
                color: $VeryDarkDesaturatedBlue;
                margin-bottom: 8px;
            }

            h4{
                font-family: 'Barlow', sans-serif;
                color: $GrayishBlue;
            }
        }
    }
}

#four-images{
        display: flex;

        .card-image{
            display: flex;
            width: 50%;
            height: 100%;

          div{
              width: 50%;
              height: 100%;

              img{
                  width: 100%;
                  height: 100%;
                  
              }
          }
        }

}

#footer{
    background: hsl(168, 60%, 71%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-family: 'Fraunces', serif;
        font-size: 36px;
        font-weight: 900;
        color: $DarkDesaturatedCyan;
        margin-bottom: 50px;
    }

    .info-footer{
        width: 280px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        a{
            font-size: 18px;
            color: $DarkModerateCyan;
            font-family: 'Barlow', sans-serif;

            &:hover{
                border-bottom: 2px solid $DarkDesaturatedCyan;
                letter-spacing: 1.5px;
                transition: 0.2s;
            }
            
        }
    }

    .social{
        display: flex;
        width: 150px;
        justify-content: space-between;
        a{
            svg{
                fill: #2C7566;

                &:hover{
                    fill: #0b463a;
                }
            }
        }
    }
}