@media screen and (max-width: 1000px){
 
    main header{

        margin-bottom: 150px;

        .menu{
            display: none;
        }
        
        .center{
            display: block;
            top: 5%;
            left: 90%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 50px;

            &::before,
            &::after,
            div{
                background: #fff;
                content: "";
                display: block;
                height: 5px;
                border-radius: 3px;
                margin: 7px 0;
                transition: 0.8s;
            }
        }

        .active{
            &::before{
                transform: translateY(12px) rotate(135deg);
            }

            &::after{
                transform: translateY(-12px) rotate(-135deg);
            }

            div{
                transform: scale(0);
            }
        }

    }

    main{

        h1{
            margin-bottom: 11vw;
        }

        .arrow{
            img{
                height: 85px;
                width: 35px;
            }
        }

        .menu-mobile{
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            background: $White;
            position: absolute;
            top: 12%;
            right: 10%;
            transform: scale(0);

            &:before {
                content: '';
                position: absolute;
                top: -22px;
                right: 0;
                width: 28px;
                height: 28px;
                background-position: bottom right;
                background-size: contain;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 24L24 0v24H0z' fill='%23fff'/%3E%3C/svg%3E");
              }

            a{
                color: $VeryDarkGrayishBlue;
                margin-bottom: 30px;
                font-family: 'Barlow', sans-serif;
            }
            
            .btn-mobile{
                margin-bottom: 0;
                padding: 10px 20px;
                border-radius: 15px;
                background: $Yellow;
                color: $VeryDarkDesaturatedBlue;
                text-transform: uppercase;
            }
        }

        .animate__slideInDown{
            transition: 0.5s;
            transform: scale(1);
        }

        .animate__slideOutUp{
            top: -50%;
            transition: 3s;
            transform: scale(0);
        }
    }

    section .wrapper {

        .box{
            div {
                h1{
                    font-size: 38px;
                }
            }
        }

        .box-cherry{
            div{
                margin: 32% 0% 0% 15%;          
                width: 70%;
                p{
                    margin-bottom: 10px;
                }
            }
        }

        .box-tangerine{
            div{
                margin: 32% 0% 0% 18%;          
                width: 65%;
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }

    #testimonials{
        height: 1600px;
        text-align: center;
    
        h2{
            font-size: 18px;
            letter-spacing: 3px;
            margin-bottom: 15px;
            font-family: 'Fraunces', serif;
            font-weight: 700;
            color: $GrayishBlue;
        }
    
        div{
            flex-direction: column;
            height: 100%;
    
            .card{
                height: 33%;
                width: 100%;
    
                p{
                    margin-bottom: 20px;
                }
            }
        }
    }

    #four-images{
        display: flex;
        flex-direction: column;
        height: 500px;

        .card-image{
            width: 100%;
            height: 50%;

          div{
              width: 50%;
              height: 100%;

              img{
                  width: 100%;
                  height: 100%;
                  
              }
          }
        }

}

}







@media screen and (max-width: 415px){
    main {
        height: 80vh;
        background: url(../images/mobile/image-header.jpg) no-repeat;
        background-size: 100%;

        header{
            margin-bottom: 80px;
        }

        h1{
            font-size: 42px ;
        }

        .arrow{
            img{
                height: 70px;
                width: 30px;
            }
        }
    }

    section {

        height: 850px;

        #invert{
            display: flex;
            flex-direction: column-reverse;
        }

        .wrapper{
            flex-direction: column;
            .box{
                height: 60%;
                width: 100%;
            }

            .image{
                height: 40%;
            }
        }

    }

    #cherry-tangerine{
        height: 1200px;

        .box-cherry{
            div{
                margin: 40% 0% 0% 10%;          
                width: 80%;
                p{
                    margin-bottom: 10px;
                }
            }
        }

        .box-tangerine{
            div{
                margin: 40% 0% 0% 18%;          
                width: 65%;
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }


    #footer{
        height: 400px;
    }
   
}



    @media screen and (min-width: 1440px){

        [data-anime] {
          opacity: 0;
          transition: 1s;
        }
        
        [data-anime="left"] {
          transform: translate3d(-500px, 0, 0);
        }
        
        [data-anime="right"] {
          transform: translate3d(500px, 0, 0);
        }
        
        [data-anime="top"] {
          transform: translate3d(0, -500px, 0);
        }
        
        [data-anime="bottom"] {
          transform: translate3d(0, 500px, 0);
        }
        
        [data-anime].animate {
          opacity: 1;
          transform: translate3d(0px, 0px, 0px);
        }
      
      }